$rem-font-size: 16px;
$font: 'Roboto', sans-serif;

// values for body tag
$document-font-family: $font;
$document-font-weight: 400;
$document-font-size: 1rem;
$document-color: #2E2A2A;
$document-line-height: 1.33333;
$document-background: #fff;