.map-anchor {
	font-weight: 300;
	font-size: 18px;
	line-height: 1;
	letter-spacing: 0.12em;
	text-transform: uppercase;

	color: #AB9B9B;
	position: relative;
	&:after {
		content: '';

		position: absolute;
		top: 100%;
		left: 15px;
		right: 15px;
		margin-top: 9px;

		border-bottom: 2px solid #DBDBDB;
		transition: linear .1s;
	}
	&:hover, &:focus {
		color: #AB9B9B;
		text-decoration: none;
		&:after {
			opacity: 0;
			visibility: hidden;
			margin-top: 10px;
		}
	}
	@include msm() {
		font-size: 14px;
		&:after {
			border-bottom-width: 1px;
		}
	}
}