.offer {
	position: relative;
	display: flex;
	flex-direction: column;

	background-position: -20px 0;
	background-repeat: no-repeat;
	background-size: cover;
	@include mxl() {
		background-position: -20px 350px;
	}
	@include mlg() {
		// background: none;
	}
}
.offer__in {
	padding-top: 145px;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	@include mxl() {
		padding-bottom: 50px;
	}
	@include mmd() {
		padding-top: 91px;
	}
}
.offer__container {
	@include msm() {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
}
.offer__row {
	@include mxl() {
		flex-direction: column-reverse;
	}
	@include msm() {
		flex-grow: 1;
	}
}
.offer__content {
	padding-top: 75px;
	margin-left: auto;
	margin-right: 30px;
	animation-delay: 1.5s;
	@include mxl() {
		// margin-left: auto;
		// margin-right: auto;
		padding-top: 30px;
		margin-right: 0;
	}
}
.offer__descr {
	font-size: 26px;
	color: #AB9B9B;
	margin-bottom: 45px;
	@include msm() {
		font-size: 18px;
		br {
			display: none;
		}
	}
}
.offer__button-wrap {
	align-items: center;
}
.offer__button-callback {
	width: 235px;
	@include msm() {
		width: auto;
	}
}
.offer__map-anchor {
	margin-left: auto;
	margin-top: 30px;
	flex: 0 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	animation-delay: 2.5s;
	@include xl() {
		margin-top: auto;
		margin-bottom: auto;
		margin-right: 11.7%;
		// position: absolute;
		// bottom: 13%;
		// right: 11.7%;
	}
}

.offer__car-lazy {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	// bottom: 0;
	left: 20px;
	width: 56.6%;
	animation-delay: 2s;
	transform-origin: 0 0;
	@media only screen and (max-width: 1400px) {
		left: -80px;
	}
	@include mxl() {
		position: relative;
		transform: none;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		left: auto;
		top: auto;
	}
	@include msm() {
		margin-top: auto;
		margin-bottom: auto;
	}
	&:after {
		padding-bottom: 531 / 1087 * 100%;
	}
}
.offer__link-clear {
	@media only screen and (max-width: 400px) {
		font-size: 12px;
	}
}