.advantages-box {
	line-height: 1.16;
}
.advantages-box-title {
	font-weight: 700;
	font-size: 24px;
	color: #2E2A2A;
	margin-bottom: 15px;
	@include msm() {
		font-size: 20px;
	}
}
.advantages-box-descr {
	font-size: 20px;
	color: #AB9B9B;
	@include msm() {
		font-size: 16px;
	}
}
.advantages-box__lazy {
	max-width: 68px;
	margin-bottom: 23px;
	animation-name: pulse;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	&:after {
		padding-bottom: 68 / 68 * 100%;
	}
}