.advantages {
	position: relative;
	z-index: 2;
	padding: 30px 0;
	@include xl() {
		&:before {
			content: '';

			position: absolute;
			top: 265px;
			left: -160px;

			width: 328px;
			border-bottom: 2px solid #E8E0E0;
			transform: rotate(-40.55deg);
		}
		&:after {
			content: '';

			position: absolute;
			top: 100%;
			left: 0;
			margin-top: 100px;
			

			width: 328px;
			border-bottom: 2px solid #E8E0E0;
			transform: rotate(37.56deg);
			@media only screen and (min-width: 1500px) {
				left: 10%;
			}
		}
	}
}
.advantages__container {
	position: relative;
}
.advantages__title {

}
.advantages__row {
	justify-content: center;
	@include xl() {
		justify-content: space-between;
	}
}
.advantages__column {
	width: 100%;
	margin-bottom: 30px;
	max-width: 375px;
	flex: 0 1 375px;
	@include sm() {
		flex: 0 0 50%;
		max-width: 50%;
	}
	@include xl() {
		flex: 0 0 25%;
		max-width: 25%;
	}
}