.button-clr {
	background-color: transparent;
	padding: 0;
	border: none;
}
.button {
	position: relative;
	display: inline-block;
	padding: 15px 15px 12px;

	font-size: 14px;
	line-height: 1;
	text-transform: uppercase;
	text-align: center;
	
	color: #2E2A2A;

	background: #FCEA50;
	border-radius: 6px;

	// padding-bottom: 4px;
	transition: linear .1s;
	// &:before {
	// 	content: '';

	// 	position: absolute;
	// 	top: 4px;
	// 	left: 0;
	// 	bottom: 0;
	// 	right: 0;


	// 	background-color: #D9C51F;
	// 	border-radius: 6px;
	// 	transition: linear .1s;
	// }
	&:hover, &:focus {
		color: #2E2A2A;
		text-decoration: none;
		box-shadow: 0 3px 12px rgba(#000, .1);
		.button-icon {
			animation-name: heartBeat;
			animation-duration: 1s;
			animation-iteration-count: infinite;
		}
		// padding-bottom: 0;
		// &:before {
		// 	opacity: 0;
		// 	visibility: hidden;
		// }
	}
}
.button-regular {
	position: relative;
	display: inline-block;
	padding-bottom: 4px;

	font-weight: 500;
	font-size: 22px;
	line-height: 1;

	text-align: center;
	
	color: #2E2A2A;

	// transition: linear .1s;
	&:before {
		content: '';

		position: absolute;
		top: 4px;
		left: 0;
		bottom: 0;
		right: 0;


		background-color: #D9C51F;
		border-radius: 6px;
		// transition: linear .1s;
	}
	&:hover, &:focus {
		color: #2E2A2A;
		text-decoration: none;
		// .button-inner {
		// 	padding-top: 20px;
		// 	padding-bottom: 14px;
		// }
		.button-icon {
			animation-name: heartBeat;
			animation-duration: 1s;
			animation-iteration-count: infinite;
		}
		&:before {
			opacity: 0;
			visibility: hidden;
		}
	}
}
.button-inner {
	position: relative;
	display: block;
	padding: 20px 15px 16px;

	font-size: 14px;
	line-height: 1;
	text-transform: uppercase;
	
	color: #2E2A2A;

	background: #FCEA50;
	border-radius: 6px;
}
.button-icon {
	position: relative;
	top: -1px;
	margin-right: 5px;
	transition: linear .1s;
}
.button-txt {
	
}
.button-submit {
	width: 100%;
	padding: 16px 15px 15px;
	font-weight: 500;
	font-size: 22px;
	text-align: center;

	/* Main text */
	color: #2E2A2A;
	text-transform: none;
	&[disabled] {
		opacity: .3;
	}
}