.calc-wash {

}
.calc-wash__input {
	&:checked {
		& + .calc-wash__label {
			background-color: transparent;
			.calc-wash__label-in {
				box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
			}
			.calc-wash__check {
				background-color: #0B94DC;
				border-color: #0B94DC;
			}
			.calc-wash__check-icon {
				color: #fff;
			}
			.calc-wash__dropdown {
				// display: block;
				// opacity: 1;
				// visibility: visible;
				// max-height: 9999px;
			}
		}
	}
}
.calc-wash__label {
	display: block;
	cursor: pointer;
	padding: 6px;
	background-color: #fff;

	border: 1px solid rgba(#000, .1);
	border-radius: 6px;
	transition: linear .2s;
}
.calc-wash__label-in {
	overflow: hidden;
	display: block;
	padding: 25px 20px;

	background: #FFFFFF;
	border-radius: 6px;
	transition: linear .2s;
}
.calc-wash__head {
	display: flex;
	flex-wrap: nowrap;
}
.calc-wash__name {
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 0.05em;

	color: #2E2A2A;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.calc-wash__icon {
	font-size: 30px;
	color: #0B94DC;
	margin-right: 12px;
	margin-top: -5px;
	flex-shrink: 0;
}

.calc-wash__check {
	flex-shrink: 0;
	margin-top: 4px;
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 16px;
	height: 16px;
	border: 1px solid #E0E0E0;

	background: #FFFFFF;
	border-radius: 50%;

}
.calc-wash__check-icon {
	font-size: 8px;
	color: transparent;
}
.calc-wash__dropdown {
	display: none;
	// height: auto;
	// max-height: 0px;
	// overflow: hidden;

	// transition: max-height .25s ease-in-out;
}
.calc-wash__advantages {
	display: block;
	margin-top: 15px;
	padding-left: 20px;
	padding-top: 15px;
	border-top: 1px solid rgba(#AB9B9B, .3);
	// margin-left: -35px;
	// margin-right: -35px;
	span {
		display: list-item;
		font-size: 18px;
		line-height: 1.35;

		color: #AB9B9B;
		@include mmd() {
			font-size: 15px;
		}
	}
	span {
	}
}

