.calc {
	position: relative;
	min-height: 800px;
	padding: 50px 0 200px;
}
.calc__title {

}
.calc__sub-title {
	margin-bottom: 10px;
	font-size: 20px;
	line-height: 1;

	color: #2E2A2A;
}
.calc__row {
	justify-content: center;
	margin-bottom: 20px;
}
.calc__column {
	margin-bottom: 20px;
}
.calc__wash-column {
	margin-bottom: 30px;
	width: 100%;
	max-width: 100%;
	flex: 0 0 100%;
	@include sm() {
	}
	@include md() {
		flex: 0 0 50%;
		max-width: 50%;
	}
	@include xl() {
		flex: 0 0 (100% / 3);
		max-width: (100% / 3);
	}
}

.calc__total {
	display: flex;
	flex-direction: column;
	align-items: center;

	position: absolute;
	bottom: 30px;
	left: 0;
	width: 100%;
}

.calc__total-title {
	font-size: 20px;
	line-height: 23px;

	color: #000000;

}
.calc__total-price {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;

	font-weight: 900;
	font-size: 48px;
	line-height: 56px;
	letter-spacing: 0.04em;

	color: #000000;
	@include mmd() {
		font-size: 38px;
	}
	@include msm() {
		font-size: 28px;
		flex-direction: column;
		flex-wrap: wrap;
		margin-top: 20px;
	}
	&:before, &:after {
		content: '';

		width: 105px;
		border-bottom: 3px solid #DEDEDE;
	}

}
.calc__total-price-in {
	margin-left: 30px;
	margin-right: 30px;
	display: block;
}
.calc__total-callback {
	margin-top: 35px;
}