.checkbox {
	display: inline-block;
}
.checkbox__input {
	&:checked {
		& + .checkbox__label {
			.checkbox__pseudo {

			}
			.checkbox__check-icon {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
.checkbox__label {
	position: relative;
	padding-left: 35px;

	font-size: 18px;
	line-height: 21px;

	color: #CDB7B7;
	span {
		color: #0B94DC;
	}
}
.checkbox__pseudo {
	position: absolute;
	top: 2px;
	left: 0;

	display: block;
	width: 15px;
	height: 15px;


	background: linear-gradient(180deg, #45AAF2 9.46%, #298CC8 66.33%);
	border-radius: 3px;
	&:before {
		content: '';

		position: absolute;
		top: 2px;
		left: 2px;
		right: 2px;
		bottom: 2px;
		background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) 3.12%, rgba(97, 121, 133, 0.04) 100%), #FFFFFF;
		box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.05);
		border-radius: 3px;
	}
}
.checkbox__check-icon {
	font-size: 10px;
	color: #298CC8;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	opacity: 0;
	visibility: hidden;
}