.contacts {
	position: relative;
}
.contacts__map {
	position: relative;
	z-index: 1;
}
// .contacts__lazy {
// 	min-height: 666px;
// 	&:after {
// 		// padding-bottom: 666 / 1920 * 100%;
// 		display: none;
// 	}
// }
.contacts__box {
	padding: 50px;

	border-radius: 21px;
	background: #F7F7FA;
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
	@include xl() {
		position: absolute;
		z-index: 2;
		left: 250 / 1920 * 100%;
		top: 50%;
		transform: translate(0, -50%);
		z-index: 2;
		width: 100%;
		max-width: 535px;
	}
}
.contacts__title {
	font-weight: bold;
	font-size: 36px;

	color: #0B94DC;
	margin-bottom: 40px;
	@include xl() {
		text-align: center;
	}
}
.contacts__item {
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;

	color: #2E2A2A;
	margin-bottom: 20px;
}
.contacts__item-in {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.contacts__icon {
	color: #0B94DC;
	font-size: 14px;
	margin-right: 12px;
}
.contact__txt {
	span {
		color: #BBBBBB;
	}
}
.contacts__item-row {
	padding-left: 25px;
	margin-top: 20px;
}
.contacts__item-callback {
	display: block;
	width: 100%;
	max-width: 300px;
	margin-top: 30px;
	@include xl() {
		margin-left: auto;
		margin-right: auto;
	}
}

.contacts__map {
	width: 100%;
	min-height: 666px;
	@include mlg() {
		min-height: 400px;
	}
	@include msm() {
		min-height: 300px;
	}
}