h1 {
	margin-bottom: 10px;

	font-weight: 700;
	font-size: 50px;
	letter-spacing: 0.04em;
	text-transform: uppercase;

	/* Main text */
	color: #2E2A2A;
	strong {
		color: #0E7DC7;
	}
	@include mlg() {
		font-size: 40px;
	}
	@include msm() {
		font-size: 30px;
	}
	@media only screen and (max-width: 400px) {
		font-size: 26px;
	}
}

h2 {
	font-weight: 700;
	font-size: 44px;
	text-transform: uppercase;

	color: #2E2A2A;
	@include mlg() {
		font-size: 36px;
	}
	@include msm() {
		font-size: 26px;
	}
	@media only screen and (max-width: 300px) {
		font-size: 24px;
	}
}

h3 {
	font-weight: 700;
	font-size: 35px;
	text-transform: uppercase;
	color: #2E2A2A;
	@include mmd() {
		font-size: 29px;
	}
	@include msm() {
		font-size: 25px;
	}
	@media only screen and (max-width: 400px) {
		font-size: 22px;
	}
}