.footer {
	margin-top: auto;
	padding: 7px 0 6px;
}
.footer__row {
	align-items: center;
	justify-content: space-between;
	@include mxl() {
		justify-content: center;
	}
}
.footer__phone-link {
	display: block;
	text-align: center;
	@include xl() {
		text-align: right;
	}
	&_number {
		font-weight: bold;
		font-size: 20px;
		line-height: 1;
		text-transform: uppercase;

		color: #2E2A2A;
		&:hover, &:focus {
			color: #2E2A2A;
		}
	}
	&_callback {
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		text-decoration-line: underline;

		color: #0B94DC;
		&:hover, &:focus {
			color: #0B94DC;
		}
	}
}

.footer__nav {
	margin-left: -15px;
	margin-right: -15px;
	@include mxl() {
		justify-content: center;
	}
}
.footer__logo-column {
	margin: 10px 0;
}
.footer__column-nav {
	margin: 10px 0;
}
.footer__phone {
	margin: 10px 0;
}