.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 11;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
	animation-delay: 1s;
}
.header__container {
	@media only screen and (max-width: 375px) {
		padding-left: 5px;
		padding-right: 5px;
	}
}
.header__row-wrap {
	border-bottom: 1px solid rgba(#010101, .1);
	padding: 15px 0 13px;
	@include mxl() {
		padding: 5px 0 10px;
	}
	@include msm() {
		padding: 5px 0;
	}
}
.header__row {
	flex-wrap: nowrap;
	@include mlg() {
		justify-content: center;
	}
	@media only screen and (max-width: 375px) {
		margin-left: -5px;
		margin-right: -5px;
		justify-content: space-between;
	}
}
.header__info {
	margin-top: 5px;
	margin-bottom: 5px;
	@include mlg() {
		order: 2;
	}
	@include mmd() {
		display: none;
		padding-left: 0;
		padding-right: 0;
		margin: 0;
		
	}
}
.header__info-list {
	margin-left: -15px;
	margin-right: -15px;
	@media only screen and (max-width: 1050px) {
		flex-direction: column;
		li + li {
			border: none;
		}
	}
}
.header__logo-column {
	margin-left: 15%;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	@include md() {
		flex-shrink: 0;
	}
	@media only screen and (max-width: 1350px) {
		margin-left: 10%;
	}
	@media only screen and (max-width: 1250px) {
		margin-left: 5%;
	}
	@include mxl() {
		margin-left: auto;
	}
	@include mlg() {
		margin-left: 0;
		margin-right: 0;
		order: 1;
	}
	@media only screen and (max-width: 375px) {
		padding-left: 5px;
		padding-right: 5px;
	}
}
.header__phone {
	margin-top: 5px;
	margin-bottom: 5px;
	@include md() {
		flex-shrink: 0;
	}
	@include xl() {
		margin-left: 20px;
		margin-right: 20px;
	}
	@include mlg() {
		order: 3;
	}
	@include mmd() {
		display: none;
		padding-left: 0;
		padding-right: 0;
		margin: 0;
		
	}
}
.header__callback {
	margin-top: 5px;
	margin-bottom: 5px;
	@include md() {
		flex-shrink: 0;
	}
	@include mlg() {
		order: 4;
	}
	@media only screen and (max-width: 375px) {
		padding-left: 5px;
		padding-right: 5px;
	}
}
.header__callback-button {
	@media only screen and (max-width: 400px) {
		font-size: 12px;
		padding: 10px;
	}
}
.header__callback-icon {
	@include msm() {
		display: none;
	}
}
.header__button-column {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 30px;
	@include lg() {
		display: none;
	}
	@include mlg() {
		order: 5;
	}
	@media only screen and (max-width: 375px) {
		padding-left: 5px;
		padding-right: 5px;
	}
}
.header__button {

}

.header__menu-inner {

}
.header__nav {
	@include mlg() {
		margin-bottom: auto;
	}
}

.header__menu-info {
	margin-bottom: 10px;
	@include lg() {
		display: none;
	}
}
.header__menu-phone {
	@include lg() {
		display: none;
	}
}
.header__menu-info-list {
	flex-direction: column;
	li {
		padding-left: 0;
		padding-right: 0;
		& + li {
			border: none;
		}
	}
}