.info-list {
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;

	list-style: none;
	font-size: 14px;
	line-height: 16px;
	li {
		padding-left: 15px;
		padding-right: 15px;
		& + li {
			border-left: 1px solid rgba(#010101, .2);
		}
	}
}