.lazy-box {
	position: relative;
	&:after {
		content: '';
		display: block;
		width: 100%;
		padding-bottom: 100%;
	}
	&_height_auto {
		&:after {
			padding-bottom: 0;
		}
	}
}
.lazy-box-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	object-fit: cover;
}

.lazy-loading {
	&:before {
		content: "";
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 50%;
		margin-top: -16px;
		margin-left: -16px;
		width: 32px;
		height: 32px;
		border-radius: 32px;
		animation: scaleout 1.2s infinite ease-in-out;


		mix-blend-mode: soft-light;
		background-color: rgba(#FCEA50, 1); 
	}
}

.lazyload,
.lazy-lazyloading {
	opacity: 0;
	transition: linear .2s;
}

.lazyload,
.lazyloaded, {
	opacity: 1;
}
