.menu {
	@include mlg() {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100vh;
		z-index: 99999;

		display: flex;
		flex-direction: column;

		opacity: 0;
		visibility: hidden;
		transition: linear .3s;
		&:before {
			content: '';

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			background-color: rgba(#000, .3);
		}
		.menu-nav {
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
		}
	}
	.menu-nav {
		margin-left: -15px;
		margin-right: -15px;
	}
	&.visible {
		opacity: 1;
		visibility: visible;
		left: 0;
	}
}
.menu-inner {
	@include mlg() {
		position: relative;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		width: 280px;
		background-color: #fff;
		padding: 50px 15px;
	}
}
.menu-close {
	background-color: transparent;
	padding: 0;
	border: none;
	font-size: 30px;
	color: #000;

	position: absolute;
	top: 5px;
	right: 10px;
	@include lg() {
		display: none;
	}
}
.menu-close-icon {
}