.menu-nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	list-style: none;
	li {
		a {
			position: relative;
			display: block;
			padding: 15px 15px 10px;

			font-size: 14px;
			line-height: 16px;
			text-align: center;
			letter-spacing: 0.06em;
			text-transform: uppercase;

			/* Main text */
			color: #2E2A2A;
			&:after {
				content: '';
				position: absolute;
				top: 100%;
				left: 15px;
				right: 15px;
				margin-top: 3px;

				border-bottom: 1px solid #2E2A2A;

				opacity: 0;
				visibility: hidden;
				transition: linear .1s;
			}
			&:hover, &:focus {
				color: #2E2A2A;
				text-decoration: none;
				&:after {
					margin-top: -5px;
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}