.our-works-slider {
	.owl-nav {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		transform: translate(0, -50%);
		@media only screen and (max-width: 1299px) {
			top: 100%;
			margin-top: 20px;
			transform: none;
		}
		[class*="owl-"] {
			display: inline-block;
			width: 26px;

			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			@media only screen and (max-width: 1299px) {
				left: 50%;
				transform: translate(-50%, 0);
			}
		}
		.owl-prev {
			@media only screen and (max-width: 1299px) {
				margin-left: -30px;
			}
			@media only screen and (min-width: 1300px) {
				left: -30px;
			}
			@media only screen and (min-width: 1400px) {
				left: -75px;
			}
		}
		.owl-next {
			@media only screen and (max-width: 1299px) {
				margin-left: 30px;
			}
			@media only screen and (min-width: 1300px) {
				right: -30px;
			}
			@media only screen and (min-width: 1400px) {
				right: -75px;
			}
			.our-works__img {
				transform: rotate(180deg);
			}
		}
	}


}
.our-works-slider__box {
	max-width: 583px;
	margin-left: auto;
	margin-right: auto;
}
.our-works-slider__lazy {
	&:after {
		padding-bottom: 369 / 583 * 100%;
	}
}
.our-works-slider__content {
	position: relative;
	z-index: 2;

	max-width: 514 / 583 * 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: -35px;
	padding: 20px 40px;

	background: rgba(#FFFFFF, .96);
	backdrop-filter: blur(10px);
	/* Note: backdrop-filter has minimal browser support */
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: 20px;
		line-height: 23px;
		text-transform: uppercase;

		color: #000000;
	}
	ul {
		font-size: 18px;
		line-height: 1.35;
		color: #AB9B9B;
		padding-left: 20px;
		margin: 0;
	}
}