.phone {
	color: #2E2A2A;
	&:hover, &:focus {
		color: #2E2A2A;
		text-decoration: none;
		.phone-number {
			text-decoration: underline;
		}
	}
}
.phone-number {
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	text-transform: uppercase;
}
.phone-descr {
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
}