.reviews {
	padding: 100px 0;
}
.reviews__title {
	margin-bottom: 50px;
}
.reivews__container {
	max-width: 1230px;
}
.reviews__slider-wrap {
	position: relative;
	&:before {
		content: '';

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		width: 105%;
		height: 91%;

		background: #FFFFFF;
		box-shadow: 0px 5px 11px rgba(0, 0, 0, 0.05)
	}
}
.reviews__slider-counter {
	position: absolute;
	bottom: 30px;
	left: 54%;
	z-index: 2;
	@include mlg() {
		left: 4%;
	}
}
.reviews__slider-current {
	color: rgba(#0B94DC, .1);
}





// .reviews__nav {
// 	position: absolute;
// 	left: 0;
// 	width: 100%;
// 	top: 30%;
// 	z-index: 2;
// 	@include sm() {
// 		top: 50%;
// 		transform: translate(0, -50%);
// 	}
// }
// .reviews__button {
// 	position: absolute;
// 	top: 50%;
// 	transform: translate(0, -50%);

// 	width: 42px;
// 	height: 42px;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;

// 	background: #F6D24A !important;
// 	border: 1px solid #FFFFFF !important;
// 	border-radius: 50% !important;
// 	&_prev {
// 		left: -10px;
// 		@include xl() {
// 			left: -21px;
// 		}
// 	}
// 	&_next {
// 		right: -10px;
// 		@include xl() {
// 			right: -21px;
// 		}
// 		.svg-icon {
// 			transform: rotate(180deg);
// 		}
// 	}
// }
