.reviews-slider {
	background: #FFFFFF;
	box-shadow: 0px 10px 22px rgba(0, 0, 0, 0.1);
	.owl-nav {
		position: absolute;
		left: 0;
		width: 100%;
		top: 30%;
		@include sm() {
			top: 50%;
			transform: translate(0, -50%);
		}
		[class*="owl-"] {
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);

			width: 42px;
			height: 42px;
			display: flex;
			align-items: center;
			justify-content: center;

			background: #F6D24A !important;
			border: 1px solid #FFFFFF !important;
			border-radius: 50% !important;
		}
		.owl-prev {
			left: -10px;
			@include xl() {
				left: -21px;
			}
		}
		.owl-next {
			right: -10px;
			@include xl() {
				right: -21px;
			}
			.svg-icon {
				transform: rotate(180deg);
			}
		}
	}
}
.review-slider__box {

}
.reviews-slider__row {

}
.reviews-slider__column {
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	display: flex;
	flex-direction: column;
	@include lg() {
		max-width: 50%;
		flex: 0 0 50%;
	}

}
.reviews-slider__lazy {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	@include sm() {
		min-height: 532px;
	}
	&:after {
		padding-bottom: 532 / 583 * 100%;
		@include sm() {
			padding-bottom: 0;
		}
	}
}
.reviews-slider__content {
	position: relative;
	font-style: italic;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.44;
	/* or 26px */

	/* Main text */
	color: #2E2A2A;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
.reviews-slider__content-in {
	position: relative;
	flex-grow: 1;
	padding: 25px 15px 100px;
	@include sm() {
		padding: 50px 50px 100px;
	}
}
.reviews-slider__name {
	font-size: 14px;
	line-height: 1;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	margin-bottom: 10px;

	/* Main text */
	color: #AB9B9B;
	strong {
		@include msm() {
			display: block;
			margin-bottom: 10px;
		}
		font-weight: 700;
		font-size: 24px;
		color: #2E2A2A;

	}
}
.reviews-slider__quote {
	font-size: 200px;
	color: #F3F3F3;

	position: absolute;
	top: -10px;
	left: 20px;
}
.reviews__slider-wrap {
	position: relative;
}
.reviews__slider-counter {
	font-size: 35.25px;
	color: rgba(#3D3D3D, .1);
}