.services__tabs-content {
	margin-right: 0;
}
.services__tabs-nav {
	margin-bottom: 20px;
	@include msm() {
		margin-bottom: 10px;
	}
}
.services__title {
	margin-bottom: 30px;
}
.services__container {
	position: relative;
}
.services {
	position: relative;
	z-index: 1;
	@include xl() {
		&:before {
			content: '';

			position: absolute;
			bottom: 100%;
			right: 9%;
			margin-bottom: 300px;

			width: 328px;
			border-bottom: 2px solid #E8E0E0;
			transform: rotate(-40.55deg);
		}
		&:after {
			content: '';

			position: absolute;
			bottom: 100%;
			right: -150px;
			

			width: 328px;
			border-bottom: 2px solid #E8E0E0;
			transform: rotate(37.56deg);
		}
	}
}
.services__tabs-pane {
	&.out {
		animation-name: bounceOutLeft;
		animation-duration: 1s;
	}
	&.active {
		animation-name: bounceInRight;
		animation-duration: 1s;
	}
}