.tabs-pane {
	display: none;
	&.out {
		display: block;
	}
	&.active {
		display: block;
	}
}
.tabs-content {

}
.tabs-list {
	list-style: none;
	padding: 0;
	margin: 0;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: -15px;
	margin-right: -15px;
	li {
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 5px;
		padding-bottom: 5px;
		@include xl() {
			padding-left: 40px;
			padding-right: 40px;
		}
		& + li {
			@include lg() {
				border-left: 2px solid #E1DEDE;
			}
		}
		a {
			display: block;
			font-weight: bold;
			font-size: 20px;
			text-transform: uppercase;

			color: #AB9B9B;
			@include mmd() {
				font-size: 18px;
			}
			@include msm() {
				font-size: 16px;
			}
			&:hover, &:focus {
				color: #0B94DC;
				text-decoration: none;
			}
			&.active {
				color: #0B94DC;
			}
		}
	}
}
.tabs-nav {
	// margin-bottom: 100px;
}
.tabs {

}