<footer class="footer">
	<div class="footer__container container-fluid">
		<div class="footer__row row">
			<div class="footer__logo-column column">
				<a class="footer__logo logo lazy-box lazy-image-loaded" href="#">
					<img class="lazy-img lazy-box-img lazyautosizes ls-is-cached lazyloaded" data-sizes="auto" data-src="images/logo.svg" src="images/logo.svg" alt="" sizes="100px">
				</a>
			</div>
			<div class="footer__column-nav column">
				<ul class="footer__nav menu-nav">
					<li><a data-toggle="anchor" href="#advantages">Преимущества</a></li>
					<li><a data-toggle="anchor" href="#services">Виды услуг</a></li>
					<li><a data-toggle="anchor" href="#calc">Калькулятор услуг</a></li>
					<li><a data-toggle="anchor" href="#our-works">Галерея</a></li>
					<li><a data-toggle="anchor" href="#reviews">Отзывы</a></li>
				</ul>
			</div>
			<div class="footer__phone column">
				<a class="footer__phone-link footer__phone-link_number" href="tel:84991234000">8 499 1234-000</a>
				<a class="footer__phone-link footer__phone-link_callback init-modal" href="#callback">заказать звонок</a>
			</div>
		</div>
	</div>
</footer>

<div id="callback" class="callback-form mfp-hide">
	<h3 class="callback-form__title">Записаться на мойку</h3>
	<div class="callback-form__sub-title">Наш менеджер Вам перезвонит в течении 15 минут, чтобы уточнить необходимые данные.</div>
	<form method="POST" action="" class="ajax-form">
		<div class="form-group">
			<label class="label" for="name">Ваше Имя</label>
			<input class="form-control" type="text" id="name" placeholder="Как к вам обращаться" name="name" required>
		</div>
		<div class="form-group">
			<label class="label" for="tel">Ваш номер телефона</label>
			<input class="form-control" type="tel" id="tel" placeholder="Телефон для связи" name="tel" required>
		</div>
		<div class="form-group">
			<div class="checkbox">
				<input class="checkbox__input input-hidden check-input" type="checkbox" id="checkbox" checked>
				<label class="checkbox__label" for="checkbox">
					<span class="checkbox__pseudo">
						<svg class="checkbox__check-icon svg-icon">
							<use xlink:href="images/svg-sprite/svgSprite.svg#check"></use>
						</svg>
					</span>
					Отправляя данные, я соглашаюсь на обработку <span>персональных данных</span>
				</label>
			</div>
		</div>
		<div class="form-group">
			<input class="button button-submit button-clr" type="submit" value="Записаться">
		</div>
	</form>
</div>

<div id="thanksModal" class="callback-form mfp-hide">
	<h3 class="callback-form__title">Спасибо, с вами свяжутся в ближайшее время!</h3>
</div>
