<header class="header bounceInDown animated">
	<div class="header__container container-fluid">
		<div class="header__row-wrap">
			<div class="header__row row align-items-center">
				<div class="header__info info column">
					<ul class="header__info-list info-list">
						<li>г. Москва, Ленинградское шоссе, 71</li>
						<li>Ежедневно с 9:00 до 21:00</li>
					</ul>
				</div>
				<div class="header__logo-column column">
					<a class="header__logo logo lazy-box lazy-loading" href="#">
						<img
							class="lazy-img lazy-box-img lazyload"
							data-sizes="auto"
							data-src="images/logo.svg"
							src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
							alt="">
					</a>
				</div>
				<a class="header__phone phone column" href="tel:84991234000">
					<div class="phone-number">8 499 1234-000</div>
					<div class="phone-descr">Бесплатно по Москве</div>
				</a>
				<div class="header__callback column">
					<a href="#callback" class="header__callback-button button init-modal">
						<svg class="header__callback-icon button-icon svg-icon">
							<use xlink:href="images/svg-sprite/svgSprite.svg#tel"></use>
						</svg>
						<span class="button-txt">Обратный звонок</span>
					</a>
				</div>
				<div class="header__button-column column">
					<button class="header__button button-clr" type="button" data-toggle="toggleClass" data-target="menu">
						<svg class="svg-icon">
							<use xlink:href="images/svg-sprite/svgSprite.svg#menu"></use>
						</svg>
					</button>
				</div>
			</div>
		</div>
		<div class="header__menu menu" id="menu">
			<div class="header__menu-inner menu-inner">
				<button class="menu-close button-clr" type="button" data-toggle="toggleClass" data-target="menu">
					<svg class="menu-close-icon svg-icon">
						<use xlink:href="images/svg-sprite/svgSprite.svg#close"></use>
					</svg>
				</button>
				<ul class="header__nav menu-nav anchors">
					<li><a href="#advantages">Преимущества</a></li>
					<li><a href="#services">Виды услуг</a></li>
					<li><a href="#calc">Калькулятор услуг</a></li>
					<li><a href="#our-works">Галерея</a></li>
					<li><a href="#reviews">Отзывы</a></li>
					<li><a href="#contacts">Как нас найти</a></li>
				</ul>
				<div class="header__menu-info info">
					<ul class="header__menu-info-list info-list">
						<li>г. Москва, Ленинградское шоссе, 71</li>
						<li>Ежедневно с 9:00 до 21:00</li>
					</ul>
				</div>
				<a class="header__menu-phone phone" href="tel:84991234000">
					<div class="phone-number">8 499 1234-000</div>
					<div class="phone-descr">Бесплатно по Москве</div>
				</a>
			</div>
		</div>
	</div>
</header>