<link rel="stylesheet" type="text/css" href="css/vendorCss.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<script async>
	function loadJS(u){var r=document.getElementsByTagName("script")[0],s=document.createElement("script");s.src=u;r.parentNode.insertBefore(s,r);}

	if(!window.HTMLPictureElement || !('sizes' in document.createElement('img'))){
		loadJS("https://afarkas.github.io/lazysizes/plugins/respimg/ls.respimg.min.js");
	};
	var lazy = function lazy() {
		document.addEventListener('lazyloaded', function (e)  {
			e.target.parentNode.classList.add('lazy-image-loaded');
			e.target.parentNode.classList.remove('lazy-loading');
		});
	}

	lazy();
</script>
<script src="https://afarkas.github.io/lazysizes/plugins/bgset/ls.bgset.min.js" async></script>
<script src="https://afarkas.github.io/lazysizes/lazysizes.min.js" async></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>
	// resize window setTimeout function
		var waitForFinalEvent = (function () {
			var timers = {};
			return function (callback, ms, uniqueId) {
				if (!uniqueId) {
					uniqueId = "Don't call this twice without a uniqueId";
				}
				if (timers[uniqueId]) {
					clearTimeout (timers[uniqueId]);
				}
				timers[uniqueId] = setTimeout(callback, ms);
			};
		})();
	// ====================
	// $('[data-padding]').css({'padding-top': $('.header').outerHeight()});
	var headerH = $('.header').outerHeight();
	$(window).on('resize', function() {
		headerH = $('.header').outerHeight();
		waitForFinalEvent(function() {
			$('[data-padding]').css({'padding-top': headerH});
		}, 500, 'resize');
	})
	</script>
<script src="js/vendor.min.js"></script>
<script src="js/main.js"></script>
